/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /* standard & title modes */
 .tltpy_mode_standard.tooltipy-kw,
 .tltpy_mode_title.tooltipy-kw
 {
    color: #2196F3;
    font-weight: bold;
    border-bottom: #FF5722 1px dashed;
 }

 /* icon mode */
.tltpy_mode_icon.tooltipy-kw{
    display: inline-block;
    position: relative;
    top: 8px;
}

/* Tooltipy popup template */
.tooltipy-pop {
    text-align: left;
}
.tooltipy-pop .tooltipy-synonyms h2{
    font-size: 1rem;
}
.tooltipy-synonyms ul {
    list-style: none;
}
.tooltipy-synonyms li {
    display: inline-block;
}
.tooltipy-synonyms li:not(:last-child):after {
    content: ",";
}
/* footnote mode */
.tltpy-footnote{
    padding: 2px 10px;
}
.tltpy-footnote:target {
    background: #e5f7ff;
    color: black;
    outline: none;
}

/* Glossary page */
.tltpy-glossary-header-list li {
    display: inline-block;
}

.tltpy-glossary-header-list li a{
    margin: auto 2px;
    padding: 10px;
    background-color: #eee;
}

.tippy-tooltip a{
    color: #b9b8ff;
}
.tippy-tooltip a:hover{
    color: white;
}

.tooltipy-pop .post-thumbnail{
    text-align: center;
}