/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .tltpy-cell{
	border-radius: 8px;
	padding: 4px 6px;
	margin-bottom: 4px;
	display: inline-block;
 }
 
.tltpy-cell-yes{
	color: #1b1f2380;;
	background: #e6ffed;
}
.tltpy-cell-no{
	color:  #1b1f2380;;
	background: #ffeef0;
}

.tltpy-cell-synonym{
	color:#24292e;
	background: #dbedff;
}

.tooltipy-log--error{
	color: red;
}
.tooltipy-log--notice{
	color: blue;
}
.tltpy-cell--wiki{
	color:#ffffff;
	background: gray;
}

.tltpy-matched{
	color: #4CAF50;
	font-weight: bold;
}

.tltpy-excluded{
	color: #FF5722;
	text-decoration: line-through;
}

.tltpy_option_wrap--icon_image br,
.tltpy_option_wrap--icon_image input{
    display: none;
}
.tltpy_option_wrap--icon_image label {
    padding: 0px 15px;
}
.tltpy_option_wrap--icon_image input + .dashicons {
	color: #ccc;
	font-size: 2rem;
}
.tltpy_option_wrap--icon_image input + .dashicons:hover,
.tltpy_option_wrap--icon_image input:checked + .dashicons{
	color: #444;
}

table.tltpy_excluded_posts td{
	padding: 0px;
	padding-right: 20px;
}